.modal {
    font-size: 20px;
    height: 150px;
    width: 600px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    display: flex;
    padding: 30px;
    justify-content: space-evenly;
}

.MyModal {
    background-color: rgba(0, 0, 0, 0.5);

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: none;
    justify-content: center;
   
}

.modalActive {
    display: block;
    display: flex;
}
