.modal {
    height: 150px;
    width: 600px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    padding: 30px;
    justify-content: space-evenly;
    border: 1px solid gainsboro;
    align-items: center;
    
}

.MyModal {
    z-index: 1000;
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: none;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
   
}

.modalActive {
    display: block;
    display: flex;
}
